.m-category
  .l-container
    ul
      li
        a(href="#")
          picture
            source(srcset=path+"assets/images/category_list.webp" type="image/webp")
            img(src=path+"assets/images/category_list.jpg" data-src=path+"assets/images/category_list.jpg" alt='Kính Áp Tròng' loading="lazy" width="258" height="258")
          p Các Tật Khúc Xạ & Bệnh Về Mắt
      li
        a(href="#")
          picture
            source(srcset=path+"assets/images/category_list.webp" type="image/webp")
            img(src=path+"assets/images/category_list.jpg" data-src=path+"assets/images/category_list.jpg" alt='Kính Áp Tròng' loading="lazy" width="258" height="258")
          p Kính Áp Tròng
      li
        a(href="#")
          picture
            source(srcset=path+"assets/images/category_list.webp" type="image/webp")
            img(src=path+"assets/images/category_list.jpg" data-src=path+"assets/images/category_list.jpg" alt='Kính Áp Tròng' loading="lazy" width="258" height="258")
          p Kính Áp Tròng
      li
        a(href="#")
          picture
            source(srcset=path+"assets/images/category_list.webp" type="image/webp")
            img(src=path+"assets/images/category_list.jpg" data-src=path+"assets/images/category_list.jpg" alt='Kính Áp Tròng' loading="lazy" width="258" height="258")
          p Kính Áp Tròng
      li
        a(href="#")
          picture
            source(srcset=path+"assets/images/category_list.webp" type="image/webp")
            img(src=path+"assets/images/category_list.jpg" data-src=path+"assets/images/category_list.jpg" alt='Kính Áp Tròng' loading="lazy" width="258" height="258")
          p Kính Áp Tròng
