ul.m-cart 
    li 
        .img 
            picture
                source(srcset=path+"assets/images/product_item.avif" type="image/avif")
                source(srcset=path+"assets/images/product_item.webp" type="image/webp")
                img.lazyload(src=path+"assets/images/product_item.jpg" data-src=path+"assets/images/product_item.jpg" alt='Logo' loading="lazy" width="323" height="323")
        .info
            .content 
                .name
                    a(href="#") DUNG DỊCH BẢO QUẢN VÀ VỆ SINH CONTACT LENS 360ML (SINGAPORE)     
                    p 8h/ngày | 3 tháng
                    p
                        strong Độ cận: 
                        | 0.5 
                    p.only-sp 7.000.0.000VND          
                .m-control         
                    .number-input
                        button(onclick="this.parentNode.querySelector('input[type=number]').stepDown()")
                        input.quantity(min='0' name='quantity' value='1' type='number')
                        button.plus(onclick="this.parentNode.querySelector('input[type=number]').stepUp()")
                    a.btn_remove(href='#')
                        img.lazyload(src=path+"assets/images/remove_shopping_cart.svg" data-src=path+"assets/images/remove_shopping_cart.svg" alt='Logo' loading="lazy" width="22" height="22")        
            .price.only-pc 7.000.0.000VND      
    li 
        .img 
            picture
                source(srcset=path+"assets/images/product_item.avif" type="image/avif")
                source(srcset=path+"assets/images/product_item.webp" type="image/webp")
                img.lazyload(src=path+"assets/images/product_item.jpg" data-src=path+"assets/images/product_item.jpg" alt='Logo' loading="lazy" width="323" height="323")
        .info
            .content 
                .name
                    a(href="#") DUNG DỊCH BẢO QUẢN VÀ VỆ SINH CONTACT LENS 360ML (SINGAPORE)     
                    p 8h/ngày | 3 tháng
                    p
                        strong Độ cận: 
                        | 0.5 
                .m-control         
                    .number-input
                        button(onclick="this.parentNode.querySelector('input[type=number]').stepDown()")
                        input.quantity(min='0' name='quantity' value='1' type='number')
                        button.plus(onclick="this.parentNode.querySelector('input[type=number]').stepUp()")
                    a.btn_remove(href='#')
                        img.lazyload(src=path+"assets/images/remove_shopping_cart.svg" data-src=path+"assets/images/remove_shopping_cart.svg" alt='Logo' loading="lazy" width="22" height="22")        
            .price  
                p 7.000.000VND    
    li 
        .img 
            picture
                source(srcset=path+"assets/images/product_item.avif" type="image/avif")
                source(srcset=path+"assets/images/product_item.webp" type="image/webp")
                img.lazyload(src=path+"assets/images/product_item.jpg" data-src=path+"assets/images/product_item.jpg" alt='Logo' loading="lazy" width="323" height="323")
        .info
            .content 
                .name
                    a(href="#") DUNG DỊCH BẢO QUẢN VÀ VỆ SINH CONTACT LENS 360ML (SINGAPORE)     
                    p 8h/ngày | 3 tháng
                    p
                        strong Độ cận: 
                        | 0.5 
                .m-control         
                    .number-input
                        button(onclick="this.parentNode.querySelector('input[type=number]').stepDown()")
                        input.quantity(min='0' name='quantity' value='1' type='number')
                        button.plus(onclick="this.parentNode.querySelector('input[type=number]').stepUp()")
                    a.btn_remove(href='#')
                        img.lazyload(src=path+"assets/images/remove_shopping_cart.svg" data-src=path+"assets/images/remove_shopping_cart.svg" alt='Logo' loading="lazy" width="22" height="22")        
            .price  
                p 7.000.000VND                         
    li 
      | Bạn đã sở hữu nước nhỏ mắt chuyên dụng hay ngâm lens chưa?
    li 
        .img 
            picture
                source(srcset=path+"assets/images/product_item.avif" type="image/avif")
                source(srcset=path+"assets/images/product_item.webp" type="image/webp")
                img.lazyload(src=path+"assets/images/product_item.jpg" data-src=path+"assets/images/product_item.jpg" alt='Logo' loading="lazy" width="323" height="323")
        
        .info
            .content 
                .name
                    a(href="#") DUNG DỊCH BẢO QUẢN VÀ VỆ SINH CONTACT LENS 360ML (SINGAPORE)     
                    p 8h/ngày | 3 tháng
                    p
                        strong Độ cận: 
                        | 0.5 
                .m-control         
                    .number-input
                        button(onclick="this.parentNode.querySelector('input[type=number]').stepDown()")
                        input.quantity(min='0' name='quantity' value='1' type='number')
                        button.plus(onclick="this.parentNode.querySelector('input[type=number]').stepUp()")
                    a.btn_remove(href='#')
                        img.lazyload(src=path+"assets/images/remove_shopping_cart.svg" data-src=path+"assets/images/remove_shopping_cart.svg" alt='Logo' loading="lazy" width="22" height="22")        
            .price  
                p 7.000.000VND   
    li 
        .img 
            picture
                source(srcset=path+"assets/images/product_item.avif" type="image/avif")
                source(srcset=path+"assets/images/product_item.webp" type="image/webp")
                img.lazyload(src=path+"assets/images/product_item.jpg" data-src=path+"assets/images/product_item.jpg" alt='Logo' loading="lazy" width="323" height="323")
        .info
            .content 
                .name
                    a(href="#") DUNG DỊCH BẢO QUẢN VÀ VỆ SINH CONTACT LENS 360ML (SINGAPORE)     
                    p 8h/ngày | 3 tháng
                    p
                        strong Độ cận: 
                        | 0.5 
                .m-control         
                    .number-input
                        button(onclick="this.parentNode.querySelector('input[type=number]').stepDown()")
                        input.quantity(min='0' name='quantity' value='1' type='number')
                        button.plus(onclick="this.parentNode.querySelector('input[type=number]').stepUp()")
                    a.btn_remove(href='#')
                        img.lazyload(src=path+"assets/images/remove_shopping_cart.svg" data-src=path+"assets/images/remove_shopping_cart.svg" alt='Logo' loading="lazy" width="22" height="22")        
            .price  
                p 7.000.000VND   