header.c-header
  .c-header_top
    .l-container
      ul.c-header_nav
        li 
          a(href="#") Showroom
        li 
          a(href="#") Tin Tức
      .c-header_logo
        a(href="/")
          picture
            source(srcset=path+"assets/images/logo.svg" type="image/svg")
            img(src=path+"assets/images/logo.svg" data-src=path+"assets/images/logo.svg" alt='logo')
  .c-header_bottom
    .l-container.c-header_inner
      ul.c-header_menu

        li.c-menu.c-menu_dropdown.bg-full
          a(href="#") Brands
          .c-menu_sub
            .c-menu_subinner
              ul 
                li.c-menu.c-menu_dropdown#silestone.show
                  a(href="#") Silestone
                  .c-menu_sub
                    .l-container.col-3
                      dl
                        dd
                          a(href="#")
                            picture
                              img.lazyload(src=path+"assets/images/online_visualizer.jpg" data-src=path+"assets/images/online_visualizer.jpg" alt='img_menu' loading="lazy" width="437" height="200")
                            p.ttl 3d-kitchen
                            
                      dl
                        dd
                          a(href="#")
                            picture
                              img.lazyload(src=path+"assets/images/online_visualizer.jpg" data-src=path+"assets/images/online_visualizer.jpg" alt='img_menu' loading="lazy" width="437" height="200")
                            p.ttl 3d-kitchen
                      dl
                        dd
                          a(href="#")
                            picture
                              img.lazyload(src=path+"assets/images/online_visualizer.jpg" data-src=path+"assets/images/online_visualizer.jpg" alt='img_menu' loading="lazy" width="437" height="200")
                            p.ttl 3d-kitchen   
                li.c-menu.c-menu_dropdown#dekstone.hide
                  a(href="#") Dekstone
                  .c-menu_sub
                    .l-container.col-3
                      dl
                        dd
                          a(href="#")
                            picture
                              img.lazyload(src=path+"assets/images/online_visualizer.jpg" data-src=path+"assets/images/online_visualizer.jpg" alt='img_menu' loading="lazy" width="437" height="200")
                            p.ttl 3d-kitchen1111
                            
                      dl
                        dd
                          a(href="#")
                            picture
                              img.lazyload(src=path+"assets/images/online_visualizer.jpg" data-src=path+"assets/images/online_visualizer.jpg" alt='img_menu' loading="lazy" width="437" height="200")
                            p.ttl 3d-kitchen
                      dl
                        dd
                          a(href="#")
                            picture
                              img.lazyload(src=path+"assets/images/online_visualizer.jpg" data-src=path+"assets/images/online_visualizer.jpg" alt='img_menu' loading="lazy" width="437" height="200")
                            p.ttl 3d-kitchen                                                      
        li.c-menu.c-menu_dropdown
          a(href="#") Spaces
          .c-menu_sub
            .c-menu_subinner
              .l-container.col-4
                dl
                  dd
                    a(href="#")
                      picture
                        img.lazyload(src=path+"assets/images/online_visualizer.jpg" data-src=path+"assets/images/online_visualizer.jpg" alt='img_menu' loading="lazy" width="437" height="200")
                      p.ttl Kitchen
                  dd 
                     a(href="#") Kitchen Countertops     
                  dd 
                     a(href="#") Kitchen Claddings   
                  dd 
                     a(href="#") Kitchen Flooring       
                dl
                  dd
                    a(href="#")
                      picture
                        img.lazyload(src=path+"assets/images/online_visualizer.jpg" data-src=path+"assets/images/online_visualizer.jpg" alt='img_menu' loading="lazy" width="437" height="200")
                      p.ttl BATHROOMS
                  dd 
                     a(href="#") Bathroom Claddings
                  dd 
                     a(href="#") Bathroom flooring
                  dd 
                     a(href="#") Bathroom Remodelings   
                  dd 
                     a(href="#") Bathroom countertops                       
                dl
                  dd
                    a(href="#")
                      picture
                        img.lazyload(src=path+"assets/images/online_visualizer.jpg" data-src=path+"assets/images/online_visualizer.jpg" alt='img_menu' loading="lazy" width="437" height="200")
                      p.ttl Living Rooms
                  dd 
                     a(href="#") Furniture   
                  dd 
                     a(href="#") Floor Coverings
                  dd 
                     a(href="#") Claddings
                        
                dl
                  dd
                    a(href="#")
                      picture
                        img.lazyload(src=path+"assets/images/online_visualizer.jpg" data-src=path+"assets/images/online_visualizer.jpg" alt='img_menu' loading="lazy" width="437" height="200")
                      p.ttl Outdoor
                  dd 
                     a(href="#") Claddings   
                  dd 
                     a(href="#") Outside use kitchens 
                  dd 
                     a(href="#") Swimming pool
                  dd 
                     a(href="#") Outside use kitchens                       

        li.c-menu.c-menu_dropdown
          a(href="#") Inspiration
          .c-menu_sub
            .c-menu_subinner
              .l-container.col-3
                dl
                  dt Showroom
                  dd
                    a(href="#")
                       picture
                        source(srcset=path+"assets/images/img_menu.webp" type="image/webp")
                        img.lazyload(src=path+"assets/images/img_menu.png" data-src=path+"assets/images/img_menu.png" alt='img_menu' loading="lazy" width="437" height="200")

                dl
                  dt Đo mắt miễn phí
                    dd
                      a(href="#")
                        picture
                          source(srcset=path+"assets/images/img_menu.webp" type="image/webp")
                          img.lazyload(src=path+"assets/images/img_menu.png" data-src=path+"assets/images/img_menu.png" alt='img_menu' loading="lazy" width="437" height="200")
                dl
                  dt Tư ván online
                    dd
                      a(href="#")
                        picture
                          source(srcset=path+"assets/images/img_menu.webp" type="image/webp")
                          img.lazyload(src=path+"assets/images/img_menu.png" data-src=path+"assets/images/img_menu.png" alt='img_menu' loading="lazy" width="437" height="200")
        li.c-menu.c-menu_dropdown
          a(href="#") Visualizers
          .c-menu_sub
            .c-menu_subinner
              .l-container.col-3
                dl
                  dd
                    a(href="#")
                      picture
                        img.lazyload(src=path+"assets/images/online_visualizer.jpg" data-src=path+"assets/images/online_visualizer.jpg" alt='img_menu' loading="lazy" width="437" height="200")
                      p.ttl 3d-kitchen
                      
                dl
                  dd
                    a(href="#")
                      picture
                        img.lazyload(src=path+"assets/images/online_visualizer.jpg" data-src=path+"assets/images/online_visualizer.jpg" alt='img_menu' loading="lazy" width="437" height="200")
                      p.ttl 3d-kitchen
                dl
                  dd
                    a(href="#")
                      picture
                        img.lazyload(src=path+"assets/images/online_visualizer.jpg" data-src=path+"assets/images/online_visualizer.jpg" alt='img_menu' loading="lazy" width="437" height="200")
                      p.ttl 3d-kitchen                      
                 
        li.c-menu.c-menu_dropdown
          a(href="#") Cosentino City
        li.c-menu.c-menu_dropdown
          a(href="#") Where to buy       
        li.c-menu.c-menu_dropdown
          a(href="#") Professionals           
      ul.c-header_icon
            li.navbar.only-sp(onclick="toggleMenu()")
              svg(width='28' height='18' viewBox='0 0 28 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M0.5 3V0H27.5V3H0.5ZM0.5 10.5H27.5V7.5H0.5V10.5ZM0.5 18H27.5V15H0.5V18Z' fill='#2B2929')
            li.search.c-menu_dropdown.only-sp
              a.icon_inner(href="#")
                svg(width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M22.4475 21.3826H23.6325L31.1175 28.8826L28.8825 31.1176L21.3825 23.6326V22.4476L20.9775 22.0276C19.2675 23.4976 17.0475 24.3826 14.6325 24.3826C9.24751 24.3826 4.88251 20.0176 4.88251 14.6326C4.88251 9.24757 9.24751 4.88257 14.6325 4.88257C20.0175 4.88257 24.3825 9.24757 24.3825 14.6326C24.3825 17.0476 23.4975 19.2676 22.0275 20.9776L22.4475 21.3826ZM7.88251 14.6326C7.88251 18.3676 10.8975 21.3826 14.6325 21.3826C18.3675 21.3826 21.3825 18.3676 21.3825 14.6326C21.3825 10.8976 18.3675 7.88257 14.6325 7.88257C10.8975 7.88257 7.88251 10.8976 7.88251 14.6326Z')
              .c-menu_sub
                .c-menu_subinner
                  form(action="/" method="get")
                    input(type="text"  name="s" id="search" placeholder="Search")
                    i.gg-search
            