.c-info 
    .list
        h4 KÍNH Y TẾ CHUYÊN DỤNG
        ul 
            li 
                a(href="#")
                    picture
                        source(srcset=path+"assets/images/info.avif" type="image/avif")
                        source(srcset=path+"assets/images/info.webp" type="image/webp")
                        img.lazyload(src=path+"assets/images/info.jpg" data-src=path+"assets/images/info.jpg" alt='info' loading="lazy" width="667" height="132")
            li 
                a(href="#")
                    picture
                        source(srcset=path+"assets/images/info02.avif" type="image/avif")
                        source(srcset=path+"assets/images/info02.webp" type="image/webp")
                        img.lazyload(src=path+"assets/images/info02.jpg" data-src=path+"assets/images/info02.jpg" alt='info' loading="lazy" width="667" height="132")
            li 
                a(href="#")
                    picture
                        source(srcset=path+"assets/images/info03.avif" type="image/avif")
                        source(srcset=path+"assets/images/info03.webp" type="image/webp")
                    img.lazyload(src=path+"assets/images/info03.jpg" data-src=path+"assets/images/info03.jpg" alt='info' loading="lazy" width="667" height="132")               
    .video
        h4 KÍNH Y TẾ CHUYÊN DỤNG
        a(href="#")
            picture
                source(srcset=path+"assets/images/youtubeItem.avif" type="image/avif")
                source(srcset=path+"assets/images/youtubeItem.webp" type="image/webp")
                img.lazyload(src=path+"assets/images/youtubeItem.jpg" data-src=path+"assets/images/youtubeItem.jpg" alt='info' loading="lazy" width="664" height="421")
