.c-shopservice
  .c-shopservice__inner
    .c-shopservice__item
      h5.ttl PHƯƠNG CHÂM BÁN HÀNG
      picture
        source(srcset=path+"assets/images/service01.avif" type="image/avif")
        source(srcset=path+"assets/images/service01.webp" type="image/webp")
        img.lazyload(src=path+"assets/images/service01.jpg" data-src=path+"assets/images/service01.jpg" alt='service01' loading="lazy" width="323" height="520")
    .c-shopservice__item
      h5.ttl PHƯƠNG CHÂM BÁN HÀNG
      picture
        source(srcset=path+"assets/images/service01.avif" type="image/avif")
        source(srcset=path+"assets/images/service01.webp" type="image/webp")
        img.lazyload(src=path+"assets/images/service01.jpg" data-src=path+"assets/images/service01.jpg" alt='service01' loading="lazy" width="323" height="520")
    .c-shopservice__item
      h5.ttl PHƯƠNG CHÂM BÁN HÀNG
      picture
        source(srcset=path+"assets/images/service01.avif" type="image/avif")
        source(srcset=path+"assets/images/service01.webp" type="image/webp")
        img.lazyload(src=path+"assets/images/service01.jpg" data-src=path+"assets/images/service01.jpg" alt='service01' loading="lazy" width="323" height="520")
    .c-shopservice__item
      h5.ttl PHƯƠNG CHÂM BÁN HÀNG
      picture
        source(srcset=path+"assets/images/service01.avif" type="image/avif")
        source(srcset=path+"assets/images/service01.webp" type="image/webp")
        img.lazyload(src=path+"assets/images/service01.jpg" data-src=path+"assets/images/service01.jpg" alt='service01' loading="lazy" width="323" height="520")