extends _layout/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
block before_page
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
block after_page
  script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js")

block container
  .l-container
    .c-banner
      .c-banner_inner
        .c-banner_big
         a.c-banner_img(href="#")
          img(src="https://picsum.photos/800/478", alt="", srcset="")
         .c-banner_content
          .c-banner_category Marketing Strage
          h3.c-banner_ttl 5 Steps to Create an Outstanding Marketing Plan [Free Templates]
          p.c-banner_time MARKETING | 15 MIN READ
        .c-banner_smail
          div.c-banner_btn Marketing Strage
          ul
            li
              a(href)
                h3 5 Steps to Create an Outstanding Marketing Plan [Free Templates]
                p MARKETING | 15 MIN READ
            li
              a(href)
                h3 5 Steps to Create an Outstanding Marketing Plan [Free Templates]
                p MARKETING | 15 MIN READ
            li
              a(href)
                h3 5 Steps to Create an Outstanding Marketing Plan [Free Templates]
                p MARKETING | 15 MIN READ
            li
              a(href)
                h3 5 Steps to Create an Outstanding Marketing Plan [Free Templates]
                p MARKETING | 15 MIN READ
  hr.c-line
  .c-learn.blog
    .l-container
      .c-learn_inner
        h3 New Posts
        ul
          li.c-learn_item
            .c-learn_img
              img.lazy(data-src=path+"assets/images/img03.jpg", alt="")
            .c-learn_content
              p.c-learn_category Marketing Strage
              h4 5 Steps to Create an Outstanding Marketing Plan [Free Templates]
              p.c-learn_view 111905
          li.c-learn_item
            .c-learn_img
              img.lazy(data-src=path+"assets/images/img03.jpg", alt="")
            .c-learn_content
              p.c-learn_category Marketing Strage
              h4 5 Steps to Create an Outstanding Marketing Plan [Free Templates]
              p.c-learn_view 111905
          li.c-learn_item
            .c-learn_img
              img.lazy(data-src=path+"assets/images/img03.jpg", alt="")
            .c-learn_content
              p.c-learn_category Marketing Strage
              h4 5 Steps to Create an Outstanding Marketing Plan [Free Templates]
              p.c-learn_view 111905
          li.c-learn_item
            .c-learn_img
              img.lazy(data-src=path+"assets/images/img03.jpg", alt="")
            .c-learn_content
              p.c-learn_category Marketing Strage
              h4 5 Steps to Create an Outstanding Marketing Plan [Free Templates]
              p.c-learn_view 111905
          li.c-learn_item
            .c-learn_img
              img.lazy(data-src=path+"assets/images/img03.jpg", alt="")
            .c-learn_content
              p.c-learn_category Marketing Strage
              h4 5 Steps to Create an Outstanding Marketing Plan [Free Templates]
              p.c-learn_view 111905
          li.c-learn_item
            .c-learn_img
              img.lazy(data-src=path+"assets/images/img03.jpg", alt="")
            .c-learn_content
              p.c-learn_category Marketing Strage
              h4 Maketing Foundation
              p.c-learn_view 111905
