extends _layout/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
block before_page
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
block after_page
  script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js")
  script.
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 10,
      nav: false,
      navText: [
        "<i class='fa fa-caret-left'></i>",
        "<i class='fa fa-caret-right'></i>"
      ],
      dot: false,
      autoplay: true,
      items: 1,
      autoplayHoverPause: true,
    })

block container
  .owl-carousel.owl-theme.owl-course
    .item 
      img(src=path+"assets/images/slider02.jpg", alt="", sizes="", srcset="")
      .content 
        a(href="http://") Completely Free & Online
        p All Courses and Certifications
        p Stay sharp . Learn the latest business trends from leading experts
        p.brand THE FUTURE BRAND
    //- .item 
    //-   img(src=path+"assets/images/slider02.jpg", alt="", sizes="", srcset="")
  .c-step
    .c-step_inner 
      .l-container
        h3 Bước vào ngành Marketing cùng Tomorrow Marketers
        p Chúng tôi nỗ lực giúp các bạn trẻ yêu thích Marketing có một bước khởi đầu hoàn hảo vào <br>ngành Marketing chuyên nghiệp, thông qua: 
      ul 
        li 
          img.lazy(data-src='https://picsum.photos/400/300', alt="")    
        li 
          img.lazy(data-src='https://picsum.photos/400/300', alt="")  
        li 
          img.lazy(data-src='https://picsum.photos/400/300', alt="")       
  .c-brand 
    .l-container 
      p.text
       span.step1 FUTURE 
       span.step2 BRAND 
       span.step3 VIETNAM 
  .c-ebook
    .l-container 
      .c-ebook_inner
        .content 
          h3 KHÓA HỌC MỚI
          p Khoá học cung cấp tư duy marketing nền tảng dành cho người mới bắt đầu, giúp hệ thống hoá kiến thức chuyên môn và định hướng lộ trình phát triển nghề nghiệp.Khoá học cung cấp tư duy marketing nền tảng dành cho người mới bắt đầu, giúp hệ thống hoá kiến thức chuyên môn và định hướng lộ trình phát triển nghề nghiệp.Khoá học cung cấp tư duy marketing nền tảng dành cho người mới bắt đầu, giúp hệ thống hoá kiến thức chuyên môn và định hướng lộ trình phát triển nghề nghiệp.Khoá học cung cấp tư duy marketing nền tảng dành cho người mới bắt đầu, giúp hệ thống hoá kiến thức chuyên môn và định hướng lộ trình phát triển nghề nghiệp.Khoá học cung cấp tư duy marketing nền tảng dành cho người mới bắt đầu, giúp hệ thống hoá kiến thức chuyên môn và định hướng lộ trình phát triển nghề nghiệp.
          a(href='#') Nhận Ebook Tại Đây
        .image
          img.lazy(data-src=path+"assets/images/img02.png", alt="")           
  .c-learn
    .l-container 
      .c-learn_inner 
        h3 CÁC KHÓA HỌC
        ul  
          li.c-learn_item 
            .c-learn_img 
              img.lazy(data-src=path+"assets/images/img03.jpg", alt="")
            .c-learn_content 
              h4 Maketing Foundation
              p Khoá học cung cấp tư duy marketing nền tảng dành cho người mới bắt đầu, giúp hệ thống hoá kiến thức chuyên môn và định hướng lộ trình phát triển nghề nghiệp.
              a(href="http://") Xem Thêm 
          li.c-learn_item 
            .c-learn_img 
              img.lazy(data-src=path+"assets/images/img03.jpg", alt="")
            .c-learn_content 
              h4 Maketing Foundation
              p Khoá học cung cấp tư duy marketing nền tảng dành cho người mới bắt đầu, giúp hệ thống hoá kiến thức chuyên môn và định hướng lộ trình phát triển nghề nghiệp.
              a(href="http://") Xem Thêm 
          li.c-learn_item 
            .c-learn_img 
              img.lazy(data-src=path+"assets/images/img03.jpg", alt="")
            .c-learn_content 
              h4 Maketing Foundation
              p Khoá học cung cấp tư duy marketing nền tảng dành cho người mới bắt đầu, giúp hệ thống hoá kiến thức chuyên môn và định hướng lộ trình phát triển nghề nghiệp.
              a(href="http://") Xem Thêm      
          li.c-learn_item 
            .c-learn_img 
              img.lazy(data-src=path+"assets/images/img03.jpg", alt="")
            .c-learn_content 
              h4 Maketing Foundation
              p Khoá học cung cấp tư duy marketing nền tảng dành cho người mới bắt đầu, giúp hệ thống hoá kiến thức chuyên môn và định hướng lộ trình phát triển nghề nghiệp.
              a(href="http://") Xem Thêm 
          li.c-learn_item 
            .c-learn_img 
              img.lazy(data-src=path+"assets/images/img03.jpg", alt="")
            .c-learn_content 
              h4 Maketing Foundation
              p Khoá học cung cấp tư duy marketing nền tảng dành cho người mới bắt đầu, giúp hệ thống hoá kiến thức chuyên môn và định hướng lộ trình phát triển nghề nghiệp.
              a(href="http://") Xem Thêm 
          li.c-learn_item 
            .c-learn_img 
              img.lazy(data-src=path+"assets/images/img03.jpg", alt="")
            .c-learn_content 
              h4 Maketing Foundation
              p Khoá học cung cấp tư duy marketing nền tảng dành cho người mới bắt đầu, giúp hệ thống hoá kiến thức chuyên môn và định hướng lộ trình phát triển nghề nghiệp.
              a(href="http://") Xem Thêm                
