extends _layout/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
block before_page
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
block after_page
  script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js")

block container
  .c-learn.ebook
    .l-container
      h1.ttl Ebook by Tomorrow Marketers
      p.text Bạn muốn tìm hiểu về Brand , Digital hay Trade Marketing ? <br>
        | Hãy khám phá thế giới marketing trong ebook của Tomorrow Marketers
      .c-learn_inner
        ul
          li.c-learn_item
            .c-learn_img
              img.lazy(data-src=path+"assets/images/img03.jpg", alt="")
            .c-learn_content
              h4 5 Steps to Create an Outstanding Marketing Plan [Free Templates]
              a.c-learn_category(href="#") Marketing Strage
              p.c-learn_icon
                img.lazy(data-src=path+"assets/images/pin_fill.svg", alt="")
              p Hé lộ bức tranh tổng quan về ngành Marketing ,giúp bạn đưa ra lựa chọn về con đường nghề nghiệp , kế hoạch học tập Marketing cho riêng mình .
              include _modules/btn-ebook
          li.c-learn_item
            .c-learn_img
              img.lazy(data-src=path+"assets/images/img03.jpg", alt="")
            .c-learn_content
              h4 5 Steps to Create an Outstanding Marketing Plan [Free Templates]
              a.c-learn_category(href="#") Marketing Strage
              p.c-learn_icon
                img.lazy(data-src=path+"assets/images/pin_fill.svg", alt="")
              p Hé lộ bức tranh tổng quan về ngành Marketing ,giúp bạn đưa ra lựa chọn về con đường nghề nghiệp , kế hoạch học tập Marketing cho riêng mình .
              include _modules/btn-ebook
          li.c-learn_item
            .c-learn_img
              img.lazy(data-src=path+"assets/images/img03.jpg", alt="")
            .c-learn_content
              h4 5 Steps to Create an Outstanding Marketing Plan [Free Templates]
              a.c-learn_category(href="#") Marketing Strage
              p.c-learn_icon
                img.lazy(data-src=path+"assets/images/pin_fill.svg", alt="")
              p Hé lộ bức tranh tổng quan về ngành Marketing ,giúp bạn đưa ra lựa chọn về con đường nghề nghiệp , kế hoạch học tập Marketing cho riêng mình .
              include _modules/btn-ebook
          li.c-learn_item
            .c-learn_img
              img.lazy(data-src=path+"assets/images/img03.jpg", alt="")
            .c-learn_content
              h4 5 Steps to Create an Outstanding Marketing Plan [Free Templates]
              a.c-learn_category(href="#") Marketing Strage
              p.c-learn_icon
                img.lazy(data-src=path+"assets/images/pin_fill.svg", alt="")
              p Hé lộ bức tranh tổng quan về ngành Marketing ,giúp bạn đưa ra lựa chọn về con đường nghề nghiệp , kế hoạch học tập Marketing cho riêng mình .
              include _modules/btn-ebook
          li.c-learn_item
            .c-learn_img
              img.lazy(data-src=path+"assets/images/img03.jpg", alt="")
            .c-learn_content
              h4 5 Steps to Create an Outstanding Marketing Plan [Free Templates]
              a.c-learn_category(href="#") Marketing Strage
              p.c-learn_icon
                img.lazy(data-src=path+"assets/images/pin_fill.svg", alt="")
              p Hé lộ bức tranh tổng quan về ngành Marketing ,giúp bạn đưa ra lựa chọn về con đường nghề nghiệp , kế hoạch học tập Marketing cho riêng mình .
              include _modules/btn-ebook
          li.c-learn_item
            .c-learn_img
              img.lazy(data-src=path+"assets/images/img03.jpg", alt="")
            .c-learn_content
              h4 5 Steps to Create an Outstanding Marketing Plan [Free Templates]
              a.c-learn_category(href="#") Marketing Strage
              p.c-learn_icon
                img.lazy(data-src=path+"assets/images/pin_fill.svg", alt="")
              p Hé lộ bức tranh tổng quan về ngành Marketing ,giúp bạn đưa ra lựa chọn về con đường nghề nghiệp , kế hoạch học tập Marketing cho riêng mình .
              include _modules/btn-ebook
        include _modules/btn