extends _layout/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
block before_page
    link(rel="preload" as="style" type='text/css' href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' onload="this.onload=null;this.rel='stylesheet'")
    noscript
      link( rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
block after_page
    script(type='text/javascript' src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script.
      $(document).ready(function(){
        $('.c-carousel_inner ').not('.slick-initialized').slick({
          slidesToShow: 1,
          infinite: true,
          dots: true,
          speed: 300,
          arrows: false,
          lazyLoad: 'ondemand',
          });
        $('.slick-sure').not('.slick-initialized').slick({
          infinite: true,
          slidesToShow: 4,
          slidesToScroll: 1,
          dots: false,
          arrows: false,
          lazyLoad: 'ondemand',
          responsive: [
             {
              breakpoint: 992,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
        });
        $('.m-product__slick').not('.slick-initialized').slick({
          infinite: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          dots: false,
          arrows: true,
          lazyLoad: 'ondemand',
        });
        $('.m-product__prev').click(function(e){
          $('.m-product__slick').slick('slickPrev');
        } );

        $('.m-product__next').click(function(e){
          $('.m-product__slick').slick('slickNext');
        } );
        $('.m-product__slick02').not('.slick-initialized').slick({
          infinite: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          dots: false,
          arrows: false,
          lazyLoad: 'ondemand',
        });
        $('.m-item').not('.slick-initialized').slick({
          infinite: true,
          slidesToShow: 4,
          slidesToScroll: 4,
          dots: false,
          arrows: false,
          lazyLoad: 'progressive',
          responsive: [
             {
              breakpoint: 992,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            }
          ]
        });
        $('.m-new__prev').click(function(e){
          $('.m-new__slick').slick('slickPrev');
        } );
        $('.m-new__next').click(function(e){
          $('.m-new__slick').slick('slickNext');
        } );
        $('.m-new__slick').not('.slick-initialized').slick({
          infinite: true,
          slidesToShow: 3,
          slidesToScroll: 3,
          dots: false,
          arrows: false,
          lazyLoad: 'progressive',
          responsive: [
             {
              breakpoint: 992,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
        });
      });
block container
  .c-carousel
    .c-carousel_inner
      .c-carousel_item
        a(href="#")
          picture
            source(srcset=path+"assets/images/carousel.avif" type="image/avif")
            source(srcset=path+"assets/images/carousel.webp" type="image/webp")
            img(src=path+"assets/images/carousel.jpg" data-src=path+"assets/images/carousel.jpg" alt='carousel'  width="1512" height="600")
      .c-carousel_item
        a(href="#")
          picture
            source(srcset=path+"assets/images/carousel.avif" type="image/avif")
            source(srcset=path+"assets/images/carousel.webp" type="image/webp")
            img.lazyload(src=path+"assets/images/carousel.jpg" data-src=path+"assets/images/carousel.jpg" alt='carousel' loading="lazy" width="1512" height="600")
  .l-container
   