extends _layout/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
block before_page
    link(rel="preload" as="style" type='text/css' href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' onload="this.onload=null;this.rel='stylesheet'")
    noscript
      link( rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
block after_page
    script(type='text/javascript' src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script.
      $(document).ready(function(){
        $('.c-carousel_inner ').not('.slick-initialized').slick({
          slidesToShow: 1,
          infinite: true,
          dots: true,
          speed: 300,
          arrows: false,
          lazyLoad: 'ondemand',
          });
      });
      $(".showroom__slide").slick({
          infinite: true,
          autoplay: false,
          dots: false,
          arrows: true,
          autoplaySpeed: 4000
      });

     
block container
  .c-carousel
    .c-carousel_inner
      .c-carousel_item
          picture
            source(srcset=path+"assets/images/carousel.avif" type="image/avif")
            source(srcset=path+"assets/images/carousel.webp" type="image/webp")
            img(src=path+"assets/images/carousel.jpg" data-src=path+"assets/images/carousel.jpg" alt='carousel'  width="1512" height="600")
          a(href='#' taget="_blank").m-btn More Detail  
      .c-carousel_item
        a(href="#")
          picture
            source(srcset=path+"assets/images/carousel.avif" type="image/avif")
            source(srcset=path+"assets/images/carousel.webp" type="image/webp")
            img.lazyload(src=path+"assets/images/carousel.jpg" data-src=path+"assets/images/carousel.jpg" alt='carousel' loading="lazy" width="1512" height="600")
  .l-container
    section.i-intros
      include ./_modules/heading-primary
      .intro
        .intro__video.intro__box
          video(width='' height='' controls='')
            source(src='movie.mp4' type='video/mp4')
            source(src='movie.ogg' type='video/ogg')
        .intro__content.intro__box
          h4 Text Giới thiệu Heading 
          p Khởi nghiệp từ năm 2009, thương hiệu cosentino đã có được vị thế và niềm tin của nhiều tổ chức, đơn vị kinh doanh, chủ đầu tư nhờ các sản phẩm có mẫu mã đẹp, độ bền cao, đội ngũ thi công hoàn chỉnh, đáp ứng tốt nhu cầu XD công nghiệp và dân dụng. Hiện tại, cosentino
          a(href="#") xem thêm  
    //- showroom
    section.showrooms
      include ./_modules/heading-primary
      .showroom
        .intro__content.intro__box
            h4 Text Giới thiệu Heading 
            p Khởi nghiệp từ năm 2009, thương hiệu cosentino đã có được vị thế và niềm tin của nhiều tổ chức, đơn vị kinh doanh, chủ đầu tư nhờ các sản phẩm có mẫu mã đẹp, độ bền cao, đội ngũ thi công hoàn chỉnh, đáp ứng tốt nhu cầu XD công nghiệp và dân dụng. Hiện tại, cosentino
            a(href="#") xem thêm  
        .showroom__slide
          .showroom__slide__item
            a(href)
              .m-product__img
                picture
                  source(srcset=path+"assets/images/product_item.avif" type="image/avif")
                  source(srcset=path+"assets/images/product_item.webp" type="image/webp")
                  img.lazyload(src=path+"assets/images/product_item.jpg" data-src=path+"assets/images/product_item.jpg" alt='Logo' loading="lazy" width="" height="")
          .showroom__slide__item
            a(href)
              .m-product__img
                picture
                  source(srcset=path+"assets/images/product_item.avif" type="image/avif")
                  source(srcset=path+"assets/images/product_item.webp" type="image/webp")
                  img.lazyload(src=path+"assets/images/product_item.jpg" data-src=path+"assets/images/product_item.jpg" alt='Logo' loading="lazy" width="" height="")

    //- categories 
    section.categories
      include ./_modules/heading-primary
      include ./_modules/categories
      
        
      
