extends _layout/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
block before_page
    link(rel="preload" as="style" type='text/css' href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' onload="this.onload=null;this.rel='stylesheet'")
    noscript
      link( rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
block after_page
    script(type='text/javascript' src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script.
      $(document).ready(function(){
        $('.c-carousel_inner ').not('.slick-initialized').slick({
          slidesToShow: 1,
          infinite: true,
          dots: true,
          speed: 300,
          arrows: false,
          lazyLoad: 'ondemand',
          });
      });
block container
  .c-carousel
    .c-carousel_inner
      .c-carousel_item
          picture
            source(srcset=path+"assets/images/carousel.avif" type="image/avif")
            source(srcset=path+"assets/images/carousel.webp" type="image/webp")
            img(src=path+"assets/images/carousel.jpg" data-src=path+"assets/images/carousel.jpg" alt='carousel'  width="1512" height="600")
          a(href='#' taget="_blank").m-btn More Detail  
      .c-carousel_item
        a(href="#")
          picture
            source(srcset=path+"assets/images/carousel.avif" type="image/avif")
            source(srcset=path+"assets/images/carousel.webp" type="image/webp")
            img.lazyload(src=path+"assets/images/carousel.jpg" data-src=path+"assets/images/carousel.jpg" alt='carousel' loading="lazy" width="1512" height="600")
  .l-container
    include ./_modules/heading-primary
    